{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Galery {{ galery.title }}</h1>
    <p>{{ galery.id }}. {{ galery.title }}</p>
    <a href="/galery/edit/{{ galery.id }}">Edit</a>
    <a href="/galery/delete/{{galery.id}}">Supprimer</a>
    <a href="/galery/index">Back</a>

{% endblock %}
