{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Adhere {{ adhere.title }}</h1>
    <p>{{ adhere.id }}. {{ adhere.title }}</p>
    <a href="/adhere/edit/{{ adhere.id }}">Edit</a>
    <a href="/adhere/delete/{{adhere.id}}">Supprimer</a>
    <a href="/adhere/index">Back</a>

{% endblock %}
