{% extends 'layout.html.twig' %}

{% block content %}


    {#Contact#}






    <div class="parallax">
        <!--<div class="titleContact">--!>
            <h1>Pour joindre Country Club Route 45</h1>
        <!--</div>-->
    </div>

    {% if success is not null %}
        <div class="alert alert-success" role="alert">
            <p>Merci, votre message a bien été envoyé</p>
        </div>
    {% endif %}

    <div class="row">
        <div class="d-flex justify-content-around col-sm-8 offset-sm-2">
            <form method="post" action="" class="contactform">
                <div class="form-group">
                    <label class="labelcontact" for="lastname">Nom</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Votre nom" name="lastname">
                    {% if errors.lastname is not null %}
                        <ul class="alert alert-danger">
                            <li>{{ errors.lastname }}</li>
                        </ul>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="labelcontact" for="firstname">Prénom</label>
                    <input type="text" class="form-control" id="firstname" placeholder="Votre prénom" name="firstname">
                    {% if errors.firstname is not null %}
                        <ul class="alert alert-danger">
                            <li>{{ errors.firstname }}</li>
                        </ul>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="labelcontact" for="mail">Votre adresse mail</label>
                    <input type="email" class="form-control" id="mail" placeholder="nom@exemple.com" name="mail">
                    {% if errors.mail is not null %}
                        <ul class="alert alert-danger">
                            <li>{{ errors.mail }}</li>
                        </ul>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="labelcontact" for="subject" >Vous voulez parler de...</label>
                    <input type="text" class="form-control" id="subject" placeholder="Votre sujet" name="subject">
                    {% if errors.subject is not null %}
                        <ul class="alert alert-danger">
                            <li>{{ errors.subject }}</li>
                        </ul>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="labelcontact" for="msg" >Votre message</label>
                    <textarea class="form-control" id="msg" rows="3" placeholder="Votre message" name="msg"></textarea>
                    {% if errors.msg is not null %}
                        <ul class="alert alert-danger">
                            <li>{{ errors.msg }}</li>
                        </ul>
                    {% endif %}
                </div>
                <div class="buttoncontact">
                    <button type="submit" class="btn btn-secondary">Envoyer</button>
                </div>
            </form>
        </div>
        <div class="parallax"></div>
    </div>

{% endblock %}
