{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Contact {{ contact.title }}</h1>
    <p>{{ contact.id }}. {{ contact.title }}</p>
    <a href="/contact/edit/{{ contact.id }}">Edit</a>
    <a href="/contact/delete/{{contact.id}}">Supprimer</a>
    <a href="/contact/index">Back</a>

{% endblock %}
