{% extends 'layout.html.twig' %}
{% block header %}
    {% include 'Admin/header.html.twig' %}
{% endblock %}

{% block content %}

    <img class="bg-pagesAdmin" src="/assets/images/westernAdmin.jpg" alt="paysage canyon">
    <h1>Membres du bureau</h1>
    <div class="containerMemberAdmin">
        {% for member in members %}
            <div class="card memberCardAdmin">
                <img src="/assets/upload/{{ member.picture }}" class="card-img-top"
                     alt="photo de {{ member.firstname }} {{ member.lastname }} {{ member.function }}">
                <div class="card-body">
                    <a href="/AdminMember/edit/{{ member.id }}"><p class="card-text">{{ member.firstname }} {{ member.lastname }}</p></a>
                </div>
            </div>
        {% else %}
            <li>Rien à afficher</li>
        {% endfor %}
    </div>


{% endblock %}
