{% extends 'layout.html.twig' %}

{% block content %}


    {#Gallery#}

    <div class="titleContact">
        <h1>Galerie d'images</h1>
    </div>
    <div class="parallaxGalerie"></div>
    <div class="box-gallery">
        <div class="container gallery">
            <div class="row">
                {% for picture in photos %}
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">

                        <a data-toggle="modal" data-target="#gallery-{{picture.id}}" href="#">
                            <img src="/assets/upload/gallery/{{picture.path}}" class="img-fluid"  alt="{{picture.title}}">
                        </a>

                        <div class="modal fade" id="gallery-{{picture.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title title-photo-gallery" id="exampleModalLongTitle">{{picture.title}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="/assets/upload/gallery/{{picture.path}}" class="img-fluid"  alt="{{picture.title}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="parallaxGalerie"></div>
{% endblock %}
